
input{
    position: relative;
}
body{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 30px 600px auto;
    padding: 0;
    margin: 0;
}

div#navbar {background: red;
grid-column: 1/3;
}
div#inputs {background: green;}
div#inputsR {background: aqua}
div#buttons{background: blueviolet}