.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.top { grid-area: 1 / 1 / 2 / 6; }
.LabelL { grid-area: 2 / 1 / 6 / 2; }
.inputs { grid-area: 2 / 2 / 6 / 5; }
.inputsR { grid-area: 2 / 5 / 6 / 6; }
.bttns { grid-area: 6 / 1 / 7 / 6; }